.get-wrapper
  #monster-name
    = @enemy.name
    %br
    %span げっとだぜ！
  #monster
    = image_tag @enemy.image
  #get-button 
    #get-button__center
    #get-button__point

.modal-coin
  %p
    モンスター を げっと しよう
  #pay-ok
    げっとする

.modal-get
  %p
    = "#{@enemy.name} を げっとした!"
  
  = link_to "戦闘で使う", getupbattle_path(@enemy.id), class: "back-btn", method: :patch
  = link_to "手持ちに加える", getupin_path(@enemy.id), class: "back-btn", method: :patch

.overlay


= audio_tag "/assets/audios/gacha.mp3", controls: false, loop: true, autoplay: true, id: "gacha"
= audio_tag "/assets/audios/get.mp3", controls: false, loop: false, autoplay: false, id: "get"