.side-bar
  
  .current_monster
    ="戦闘用モンスター : #{@current_user_monster.name}"
    %img{src:@current_user_monster.image}
    = "変更 : Pキー"
  .email
    ="ユーザー名 : #{current_user.email}"  
  .log_out
    = link_to "ログアウト", destroy_user_session_path, method: :delete 
.wrapper
  .clear
  #0.icon
    
    %img{src:"/右向き.gif",class:"right"}
    %img{src:"/主人公.gif",class:"bottom"}
    %img{src:"/左向き.gif",class:"left"}
    %img{src:"/後ろ向き.gif",class:"top active"}
    %img{src:"ラプラス左.gif",class:"rapu_left"}
    %img{src:"ラプラス右.gif",class:"rapu_right"}
    %img{src:"ラプラス上.gif",class:"rapu_top"}
    %img{src:"ラプラス下.gif",class:"rapu_bottom"}
      .info
  .ball

    %img{src:"/ボール.png"} 

  .men
    %img{src:"/男トレーナー.png"}
  .women
    %img{src:"/女トレーナー.png"}
  .ooo
    %img{src:"/オーキド.png"}
  .green
    %img{src:"/グリーン右.png"}  
  .silver
    %img{src:"/シルバー右.png"} 
  .gara
    %img{src:"/ギャラドス.gif"}
  .rwomen
    %img{src:"/ロケット団女.png"}
  .rmen    
    %img{src:"/ロケット団男.png"}
  .adult
    %img{src:"/大人のお姉さん.png"}

%input{type:"hidden",class:"id",value:@id}
%input{type:"hidden",class:"top_move",value:@top}
%input{type:"hidden",class:"left_move",value:@left}

= audio_tag "/assets/audios/top.mp3", controls: false, loop: true, autoplay: true