.side-bar
  
  .current_monster
    ="戦闘用モンスター : #{@current_user_monster.name}"
    %img{src:@current_user_monster.image}
    .henkou
      = "変更 : Pキー"
  .email
    ="ユーザー名 : #{current_user.email}"  
  .log_out
    = link_to "ログアウト", destroy_user_session_path, method: :delete 
.wrapper
  .clear
  #0.icon
    
    %img{src:"/move/右向き.gif",class:"right"}
    %img{src:"/move/主人公.gif",class:"bottom"}
    %img{src:"/move/左向き.gif",class:"left"}
    %img{src:"/move/後ろ向き.gif",class:"top active"}
    %img{src:"/move/ラプラス左.gif",class:"rapu_left"}
    %img{src:"/move/ラプラス右.gif",class:"rapu_right"}
    %img{src:"/move/ラプラス上.gif",class:"rapu_top"}
    %img{src:"/move/ラプラス下.gif",class:"rapu_bottom"}
  .men
    %img{src:"/trainer/男トレーナー.png"}
  .women
    %img{src:"/trainer/女トレーナー.png"}
  .ooo
    %img{src:"/trainer/オーキド.png"}
  .green
    %img{src:"/trainer/グリーン右.png"}  
  .silver
    %img{src:"/trainer/シルバー右.png"} 
  .gara
    %img{src:"/monster/ギャラドス.gif"}
  .rwomen
    %img{src:"/trainer/ロケット団女.png"}
  .rmen    
    %img{src:"/trainer/ロケット団男.png"}
  .adult
    %img{src:"/trainer/大人のお姉さん.png"}

%input{type:"hidden",class:"id",value:@id}
%input{type:"hidden",class:"top_move",value:@top}
%input{type:"hidden",class:"left_move",value:@left}

= audio_tag "/assets/audios/top.mp3", controls: false, loop: true, autoplay: true